h1{
    color: black;
}

body{
    background-color: bisque;
    
}

/*h3{
background-color: black;
color: white;

}*/
.container{
    
    font-weight:  80%;

}
.box-1 {
background-color: white;
color: black;
/*padding-top: 5px red solid;
margin-right: 5px blue solid;*/
padding: 20px;
margin: 20px ;
border-bottom: 5px green solid;
}

.items h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif
    }

    .items ul{
        padding:10px;
        margin: 10px;
        border: 1px black dotted;
        padding-left: 20px;
        

    }
    .items li{
        padding: 10px;
        
        margin: 10px;
        border: 1px black dotted;
       /*  list-style: none;*/

    }

    a{
        color: Black;
        text-decoration:none;
    }

    a:hover{
        color: blue;
    }
    a:active{
        color: green;
    }
    a:visited{
        color: orange;
    }

    .my-form{
        padding:10px
    }
    .my-form .group{
      padding-bottom:15px
    
    }
 .my-form label{
padding-bottom: 10px;
    display: block
    ;
 }

 .my-form input[type="text"], .my-form textarea{
    width:100%
 }

 .button{
    background-color: black;
    color: aliceblue;
    border:none;
    padding: 5px 10px;
}

.db{
float:left;
width:33.3%;
}




 